.example-card {
  min-width: 400px;
  max-width: 400px;
}

.chat-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.chat-response-wrapper {
  margin: auto;
  min-width: 400px;
  max-width: 500px;
  padding: 2rem;
}

.textfield-100 {
  width: 100%;
}
