<form [formGroup]="chatForm">
  <mat-card class="example-card">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>

    <mat-card-content>
      <!-- Topic -->
      <p>
        <mat-form-field appearance="fill" *ngIf="!isPrivate">
          <mat-label>Topic</mat-label>
          <input matInput readonly value="General" />
          <mat-hint>This field is UI only</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" *ngIf="isPrivate">
          <mat-label>Select Topic</mat-label>
          <mat-select formControlName="topic">
            <mat-option value="foods">Foods</mat-option>
            <mat-option value="places">Places</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <!-- Message -->
      <mat-form-field class="textfield-100" appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput formControlName="message" />
        <mat-error *ngIf="message.errors?.required">This is required</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        [disabled]="chatForm.invalid"
        mat-icon-button
        color="primary"
        (click)="sendMessage(isPrivate)">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- Chat response -->
<div
  class="chat-response-wrapper"
  *ngIf="!!receivedMessages.length && !isPrivate">
  <p *ngFor="let msg of receivedMessages">{{ msg }}</p>
</div>
<!-- Private Chat Response -->
<div
  class="chat-response-wrapper"
  *ngIf="!!privateReceivedMessages.length && isPrivate">
  <p *ngFor="let msg of privateReceivedMessages">{{ msg }}</p>
</div>
